<!DOCTYPE html>
<html lang="en">
  <head>

    <title>deercrossing</title>

    <meta content="deercrossing deercrossing deercrossing" name="deercrossing" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>

    <link href="/css/pins.css" rel="stylesheet" />
    
  </head>
  <body>
    
  <section>

  {{ content | safe}}

    </section>

  </body>
</html>

