
.katex-mathml annotation {
  display: none;
}

.container {
  max-width: 600px;
  margin:auto;
}

body {
  background-color: #EEEEEE;
  color: #352f36;
}

a:link, a:visited {
  color: #2b79c7;
  line-height: 1.2; 
}

p {
  line-height: 1.2; 
}

/* Footnote reference superscripts inline */
.footnote-ref {
  font-size: 0.5em;
  color: #888;
}

/* The footnotes section at the bottom */
.footnotes {
  font-size: 0.65em;
  color: #777;
}

